<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
    <title>Enterprise</title>

    <link href="/static/dashboard/css/root.css" rel="stylesheet">


</head>

<body>

    <div class="loading"><img src="/static/dashboard/img/loading.gif" alt="loading-img"></div>

    <div id="top" class="clearfix">

        <!-- Start App Logo -->
        <div class="applogo">
            <a href="index.html" class="logo">kode</a>
        </div>
        <!-- End App Logo -->

        <!-- Start Sidebar Show Hide Button -->
        <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
        <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
        <!-- End Sidebar Show Hide Button -->



        <!-- Start Top Right -->
        <ul class="top-right">

            <li class="dropdown link">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox"><b>Jonathan Doe</b><span
                        class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
                    <li role="presentation" class="dropdown-header">Profile</li>
                    <li><a href="#"><i class="fa falist fa-inbox"></i>Inbox<span class="badge label-danger">4</span></a>
                    </li>
                    <li><a href="#"><i class="fa falist fa-file-o"></i>Files</a></li>
                    <li><a href="#"><i class="fa falist fa-wrench"></i>Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa falist fa-lock"></i> Lockscreen</a></li>
                    <li><a href="#"><i class="fa falist fa-power-off"></i> Logout</a></li>
                </ul>
            </li>

        </ul>
        <!-- End Top Right -->

    </div>
    <!-- END TOP -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->


    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START SIDEBAR -->
    <div class="sidebar clearfix">

        <ul class="sidebar-panel nav">
            <li class="sidetitle">GO TO</li>
            <li><a href="/ce/create"><span class="icon color5"><i class="fa fa-home"></i></span>Create Order<span
                        class="label label-default"></span></a></li>
            <li><a href="/ce/decision"><span class="icon color6"><i class="fa fa-envelope-o"></i></span>Confirm SME
                    Order<span class="label label-default"></span></a></li>
            <li><a href="/ce/accept"><span class="icon color6"><i class="fa fa-envelope-o"></i></span>Accept SME
                    Requests<span class="label label-default"></span></a></li>

        </ul>

    </div>

    <div class="content">

        <div class="page-header">
            <h1 class="title">Dashboard</h1>
            <ol class="breadcrumb">
                <li class="active">This is a quick overview of some features</li>
            </ol>


        </div>

        <div class="container-widget">

            <div class="col-md-12">
                <ul class="topstats clearfix">
                    <li class="arrow"></li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-dot-circle-o"></i> Today Profit</span>
                        <h3>$36.45</h3>
                        <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from
                            yesterday</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-calendar-o"></i> This Week</span>
                        <h3>$96.25</h3>
                        <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last
                            week</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-shopping-cart"></i> Total Sales</span>
                        <h3 class="color-up">696</h3>
                        <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last
                            month</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-users"></i> Visitors</span>
                        <h3>960</h3>
                        <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from
                            yesterday</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-eye"></i> Page View</span>
                        <h3 class="color-up">46.230</h3>
                        <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from
                            yesterday</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-clock-o"></i> Avarage Time</span>
                        <h3 class="color-down">2:10<small>min</small></h3>
                        <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last
                            week</span>
                    </li>
                </ul>
            </div>

            <div class="row">


                <!-- Start Orders -->
                <div class="col-md-12 col-lg-6">
                    <div class="panel panel-widget">
                        <div class="panel-title">
                            LAST ORDERS <span class="label label-warning">196</span>
                            <ul class="panel-tools">
                                <li><a class="icon search-tool"><i class="fa fa-search"></i></a></li>
                                <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                                <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                                <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                            </ul>
                        </div>

                        <div class="panel-search">
                            <form>
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="fa fa-search icon"></i>
                            </form>
                        </div>


                        <div class="panel-body table-responsive">

                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <td class="text-center"><i class="fa fa-trash"></i></td>
                                        <td>Order ID</td>
                                        <td>Product</td>
                                        <td>Buyer</td>
                                        <td>Date</td>
                                        <td>Payment</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <div class="checkbox margin-t-0"><input id="checkbox1"
                                                    type="checkbox"><label for="checkbox1"></label></div>
                                        </td>
                                        <td># <b>9652</b></td>
                                        <td>Kode Gaming Laptop</td>
                                        <td>John Doe</td>
                                        <td>12/10/2015</td>
                                        <td>Credit Card</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="checkbox margin-t-0"><input id="checkbox2"
                                                    type="checkbox"><label for="checkbox2"></label></div>
                                        </td>
                                        <td># <b>1963</b></td>
                                        <td>New Season Jacket</td>
                                        <td>Jane Doe</td>
                                        <td>12/10/2015</td>
                                        <td>Paypal</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="checkbox margin-t-0"><input id="checkbox3"
                                                    type="checkbox"><label for="checkbox3"></label></div>
                                        </td>
                                        <td># <b>9652</b></td>
                                        <td>IO Mouse</td>
                                        <td>Jonathan Doe</td>
                                        <td>12/10/2015</td>
                                        <td>Credit Card</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="checkbox margin-t-0"><input id="checkbox4"
                                                    type="checkbox"><label for="checkbox4"></label></div>
                                        </td>
                                        <td># <b>9651</b></td>
                                        <td>Doe Bike</td>
                                        <td>Jonathan Doe</td>
                                        <td>12/10/2015</td>
                                        <td>Credit Card</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


            </div>






        </div>
    </div>

    <script type="text/javascript" src="/static/dashboard/js/jquery.min.js"></script>

    <script src="/static/dashboard/js/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="/static/dashboard/js/plugins.js"></script>

    <script type="text/javascript" src="/static/dashboard/js/bootstrap-select/bootstrap-select.js"></script>

    <script type="text/javascript" src="/static/dashboard/js/bootstrap-toggle/bootstrap-toggle.min.js"></script>

    <script type="text/javascript" src="/static/dashboard/js/bootstrap-wysihtml5/wysihtml5-0.3.0.min.js"></script>

    <script type="text/javascript" src="/static/dashboard/js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>


    <script src="/static/dashboard/js/datatables/datatables.min.js"></script>

    <script src="/static/dashboard/js/sweet-alert/sweet-alert.min.js"></script>

    <script src="/static/dashboard/js/kode-alert/main.js"></script>

    <script type="text/javascript" src="/static/dashboard/js/jquery-ui/jquery-ui.min.js"></script>


    <script type="text/javascript" src="/static/dashboard/js/moment/moment.min.js"></script>


    <script type="text/javascript" src="/static/dashboard/js/full-calendar/fullcalendar.js"></script>

    <script type="text/javascript" src="/static/dashboard/js/date-range-picker/daterangepicker.js"></script>


</body>

</html>