/* =================================================================================
smaller than 1280 
================================================================================= */
@media screen and (max-width: 1280px) {

}

/* =================================================================================
smaller than 1024 
================================================================================= */
@media screen and (max-width: 1024px) {
	#top .menu{display: none;}
	#top .logo{width: 100%; text-align: center;}

	.main-box h1{font-size: 64px;}
}

/* =================================================================================
smaller than 760 
================================================================================= */
@media screen and (max-width: 760px) {
	.comments .item{width: 100%;}
	.main-box h1{font-size: 46px;}

}

/* =================================================================================
smaller than 428 
================================================================================= */
@media screen and (max-width: 428px) {

}




